h1 {
    font-size: 2em;
    color: orange;
}
p {
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 50px;
     margin-right: 50px;
}
img{
    max-width: 350px;
    padding: 50px;
    float: right;
}
section {
    margin: 50px;
    color: gray;
    border:solid 2px black;
    border-radius: 50px;
}
.hi{
    margin: 50px;
}
